/* @import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jacquard+12&display=swap');


* {
    font-family: 'Jacquard 12', 'IBM Plex Mono', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #FFEDD8;
}

/*NAV-BAR*/

nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.1s ease-in-out;
}

#nav-bar {
    width:85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#nav-bar-links {
    display: flex;
    flex-direction: row;
    place-items: center;
}

#nav-bar-links ul {
    list-style: none;
    display: flex;
}

#nav-bar-links li {
    margin-left: 60px;
    
}

#nav-bar-links a {
    text-decoration: none;
    color: #240A34;
    font-weight: 600;
    -webkit-font-soothing: antialiased;
    font-size: 20px;
}

#nav-bar-links a:hover {
    color: #891652;
    transition: 0.1s ease-in-out;
}

.blue-button {
    background-color: #EABE6C;
    color: #240A34;
    border: none;
    font-size: 20px;
    font-weight: 500;
    -webkit-font-soothing: antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover {
    background-color: #f4d498;
}

#nav-bar-links button {
    margin-left: 60px;
    padding: 8px 20px;
    border-radius: 7px;
    cursor: pointer;
}

/* TOP SECTION */

#home-top-container {
    background-color: #FFEDD8;
    height: 80vh;
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

#home-top-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    place-items: center;
}

#home-top-text {
    width: 50%;
}

#home-top-text h1 {
    color:#240A34;
    font-size: 50px;
    font-weight: 600;
}

#home-top-text p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #36154b;
    font-weight: 400;
    margin-top: 15px;
}

#home-top-text button {
    margin-top: 30px;
    padding: 14px 35px;
    border-radius: 7px;
    font-size: 25px;
    cursor: pointer ;
}

#home-top-img img {
    max-width: 350px;
}

/* COLLECTION SECTION */
#collection-container {
    background-color: #EABE6C;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 20px;
}

#collection-container h1 {
    color:#36154b;
    font-weight: 600;
    font-size: 50px;
    margin-top: 40px;
}

#collection-items-wrapper {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 50px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.collection-icon {
    background-color: #FFEDD8;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    color: #36154b;
    display: flex;
    place-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.collection-icon:hover {
    background-color: #891652;
    color:#FFEDD8;
}

/* .collection-icon svg {
    color:#36154b;
} */

.collection-name {
    margin-top: 20px;
    font-size: 25px;
    color: #36154b;
}

/* BEST SELLERS SECTION */

.product-section-container {
    margin-top: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    place-items: center;

}

.product-section-container h1 {
    color: #36154b;
    margin-bottom: 30px;
    font-size: 50px;
}

.product-section-description {
    font-family:'Courier New', Courier, monospace;
    background-color: #891652;
    color: white;
    height: 50px;
    width: 600px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    align-content: center;
    border-radius: 10px;
    padding: 40px 60px;
}

ul.product-section-items-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 60px; 
    width: 70%;
}

.product-item {
    max-width: 280px;
    border-radius: 7px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

.product-image {
    background-color: #f4d498;
    height: 210px;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 30px;
}

.product-image img {
    height: 128%;
}

.product-text {
    text-align: center;
    padding: 20px;
}

.product-title {
    color: #36154b;
    font-size: 20px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.product-purchase {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
} 

.product-price {
    color: #891652;
    font-size: 30px;
}

.button-add-to-cart {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #EABE6C;
    color: #36154b;
    border: none;
    font-size: 15px;
    -webkit-font-soothing: antialiased;
    transition: 0.3s ease-in-out;
}

.button-add-to-cart:hover {
    background-color: #f4d498;
    cursor: pointer;
}

.promo-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.promo-box {
    display: flex;
    flex-direction: row;
    width: 68%;
    height: 450px;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    overflow: hidden;
}

.promo-image {
    background-color: #f4d498;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 40px;
    width: 100%;
}

.promo-image img {
    width: 90%;
}

.promo-content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color:#EABE6C;
}

.promo-content h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #421c5a;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

.promo-content h2 {
    color: #36154b;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
    margin-bottom:20px ;
}

.promo-content p {
    color: #421c5a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-bottom: 30px;
}

.promo-content button.promo-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 14px 30px;
    background-color: #891652;
    color: white;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    border: 0;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.promo-content button.promo-button:hover {
    color: white;
    background-color: #a42a69;
}

/* FOOTER SECTION */

footer {
    background-color: #EABE6C;
    text-align: center;
    padding: 30px;
    color: rgb(64,64,64);
}

#footer-top {
    padding: 20px;
    width: 60%;
    margin: auto;
}

#footer-socials-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-socials {
   display: flex;
   place-items: center;
}

.footer-socials span {
    font-family: "IBM Plex Mono", monospace;
    margin-left: 20px;
    font-size: 16px;
}

#footer-bottom {
    list-style:none;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-top: 1px solid #a09071;
    padding-top: 30px;
    margin-top: 20px;

    & ul {
        list-style: none;
        display: flex;
    }

    & li a {
        font-family: "IBM Plex Mono", monospace;
        margin: 20px;
        text-decoration: none;
        color: rgb(64,64,64);
        transition: 0.3s ease-in-out;
    }

    & p {
        font-family: "IBM Plex Mono", monospace;
    }
}

#footer-bottom a:hover {
    color: #891652;
}



